/*
* Style Works for Editor Only
*/
.wp-block-tb-tab {
	border: 1px dashed #aaa;
	padding: 15px 15px 30px;
	margin-bottom: 10px;
}
.wp-block-tb-tab label {
	font-size: 1rem;
	font-weight: 700;
}
.wp-block-tb-tab .tb__tab_label {
	padding: 10px;
	border: 1px solid #444;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	margin: 0 0 0 6px !important;
	max-width: 50%;
	background: rgba( 255, 255, 255, .5 );
}

.tb__inner_blocks {
	border: 1px solid #444 !important;
	padding: 1rem;
}