/*
* Style Works for both Editor and Frontend
*/
.wp-block-tb-tabs {
	.tb__tab {
		&-labels {
			display: flex;
			align-items: stretch;
			margin: 0;
			padding: 0;
			.tb__tab-label {
				cursor: pointer;
			}
		}
		&-content {
			.tb__tab-panel {
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
	li.tb__tab-label[aria-selected="true"] {
		position: relative;
	}
	li.tb__tab-label[aria-selected="true"]:after {
		position: absolute;
		left: 0;
		width: 100%;
		content: "";
	}
}